[submodule "Vanilla-Frontend-Project-Boilerplate"]
	path = Vanilla-Frontend-Project-Boilerplate
	url = https://github.com/anubhavjaiswal03/Vanilla-Frontend-Project-Boilerplate
[submodule "Expanding-Cards"]
	path = Expanding-Cards
	url = https://github.com/anubhavjaiswal03/Expanding-Cards
[submodule "Progress-Steps"]
	path = Progress-Steps
	url = https://github.com/anubhavjaiswal03/Progress-Steps
[submodule "Rotating-Navigation"]
	path = Rotating-Navigation
	url = https://github.com/anubhavjaiswal03/Rotating-Navigation
[submodule "Hidden-Search-Widget"]
	path = Hidden-Search-Widget
	url = https://github.com/anubhavjaiswal03/Hidden-Search-Widget
[submodule "Blurry-Loading"]
	path = Blurry-Loading
	url = https://github.com/anubhavjaiswal03/Blurry-Loading
[submodule "Scroll-Animation"]
	path = Scroll-Animation
	url = https://github.com/anubhavjaiswal03/Scroll-Animation
[submodule "Split-Landing-Page"]
	path = Split-Landing-Page
	url = https://github.com/anubhavjaiswal03/Split-Landing-Page
[submodule "Form-Wave-Animation"]
	path = Form-Wave-Animation
	url = https://github.com/anubhavjaiswal03/Form-Wave-Animation
[submodule "Sound-Board-Project"]
	path = Sound-Board-Project
	url = https://github.com/anubhavjaiswal03/Sound-Board-Project
[submodule "Dad-Jokes"]
	path = Dad-Jokes
	url = https://github.com/anubhavjaiswal03/Dad-Jokes
[submodule "Event-KeyCodes"]
	path = Event-KeyCodes
	url = https://github.com/anubhavjaiswal03/Event-KeyCodes
[submodule "FAQ-Collapse"]
	path = FAQ-Collapse
	url = https://github.com/anubhavjaiswal03/FAQ-Collapse
[submodule "Random-Choice-Picker"]
	path = Random-Choice-Picker
	url = https://github.com/anubhavjaiswal03/Random-Choice-Picker
[submodule "Animated-Navigation"]
	path = Animated-Navigation
	url = https://github.com/anubhavjaiswal03/Animated-Navigation
[submodule "Incrementing-Counter"]
	path = Incrementing-Counter
	url = https://github.com/anubhavjaiswal03/Incrementing-Counter
[submodule "Drink-Water"]
	path = Drink-Water
	url = https://github.com/anubhavjaiswal03/Drink-Water
[submodule "Movie-App"]
	path = Movie-App
	url = https://github.com/anubhavjaiswal03/Movie-App
[submodule "Background-Slider"]
	path = Background-Slider
	url = https://github.com/anubhavjaiswal03/Background-Slider
[submodule "Theme-Clock"]
	path = Theme-Clock
	url = https://github.com/anubhavjaiswal03/Theme-Clock
[submodule "Button-Ripple-Effect"]
	path = Button-Ripple-Effect
	url = https://github.com/anubhavjaiswal03/Button-Ripple-Effect
[submodule "Drag-N-Drop"]
	path = Drag-N-Drop
	url = https://github.com/anubhavjaiswal03/Drag-N-Drop
[submodule "Drawing-App"]
	path = Drawing-App
	url = https://github.com/anubhavjaiswal03/Drawing-App
[submodule "Kinetic-CSS-Loader"]
	path = Kinetic-CSS-Loader
	url = https://github.com/anubhavjaiswal03/Kinetic-CSS-Loader
[submodule "Content-Placeholder"]
	path = Content-Placeholder
	url = https://github.com/anubhavjaiswal03/Content-Placeholder
[submodule "Sticky-Navbar"]
	path = Sticky-Navbar
	url = https://github.com/anubhavjaiswal03/Sticky-Navbar
[submodule "Double-Verticle-Slider"]
	path = Double-Verticle-Slider
	url = https://github.com/anubhavjaiswal03/Double-Verticle-Slider
[submodule "Toast-Notification"]
	path = Toast-Notification
	url = https://github.com/anubhavjaiswal03/Toast-Notification
[submodule "Github-Profiles"]
	path = Github-Profiles
	url = https://github.com/anubhavjaiswal03/Github-Profiles
[submodule "Double-Heart-Click"]
	path = Double-Heart-Click
	url = https://github.com/anubhavjaiswal03/Double-Heart-Click
[submodule "Text-Typing-Effect"]
	path = Text-Typing-Effect
	url = https://github.com/anubhavjaiswal03/Text-Typing-Effect
[submodule "Password-Generator"]
	path = Password-Generator
	url = https://github.com/anubhavjaiswal03/Password-Generator
