[submodule "Vanilla-Frontend-Project-Boilerplate"]
	path = Vanilla-Frontend-Project-Boilerplate
	url = https://github.com/anubhavjaiswal03/Vanilla-Frontend-Project-Boilerplate
[submodule "Expanding-Cards"]
	path = Expanding-Cards
	url = https://github.com/anubhavjaiswal03/Expanding-Cards
[submodule "Progress-Steps"]
	path = Progress-Steps
	url = https://github.com/anubhavjaiswal03/Progress-Steps
[submodule "Rotating-Navigation"]
	path = Rotating-Navigation
	url = https://github.com/anubhavjaiswal03/Rotating-Navigation
[submodule "Hidden-Search-Widget"]
	path = Hidden-Search-Widget
	url = https://github.com/anubhavjaiswal03/Hidden-Search-Widget
[submodule "Blurry-Loading"]
	path = Blurry-Loading
	url = https://github.com/anubhavjaiswal03/Blurry-Loading
[submodule "Scroll-Animation"]
	path = Scroll-Animation
	url = https://github.com/anubhavjaiswal03/Scroll-Animation
[submodule "Split-Landing-Page"]
	path = Split-Landing-Page
	url = https://github.com/anubhavjaiswal03/Split-Landing-Page
